<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post" action="serverform">
      <div class="form-group">
        <label for="textarea1">Textarea</label>
        <textarea class="form-control" name="textarea" id="textarea1" rows="3" placeholder="A textarea that you will put a moderate amount of text in." >{{#if text}}{{text}}{{/if}}</textarea>
      </div>
      <div class="form-group">
        <label for="string">String</label>
        <input class="form-control" name="string" id="string1" placeholder="An input that will take a string; this string will be inserted into the text from the textarea." {{#if string}}value={{string}}{{/if}}>
      </div>
      <div class="form-group">
        <label for="number1">First Number</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="An input that will take a number; this will be the number of times the string will be inserted" {{#if num1}}value={{num1}}{{/if}}>
      </div>
      <div class="form-group">
        <label for="number2">Second Number</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="A second input that take a number; this will be the number of characters between each insert." {{#if num2}}value={{num2}}{{/if}}>
      </div>
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error.message }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>