<div class="templatemo-content-widget white-bg col-1 text-center templatemo-position-relative">
    <i class="fa fa-times"></i>
    <img src="{{user.img}}" alt="Bicycle" class="img-circle img-thumbnail margin-bottom-30 user-avatar">
    <h1 style="display:none">h1</h1>
    <h2 class="text-uppercase blue-text margin-bottom-5">{{user.FirstName}} {{user.LastName}}</h2>
    <h3 class="text-uppercase margin-bottom-10">{{user.Profession}}</h3>
    <p>{{user.Bio}}</p>

    <div class="templatemo-social-icons-container">
    <div class="social-icon-wrap">
        <i class="fa fa-facebook templatemo-social-icon"></i>  
    </div>
    <div class="social-icon-wrap">
        <i class="fa fa-twitter templatemo-social-icon"></i>  
    </div>
    <div class="social-icon-wrap">
        <i class="fa fa-google-plus templatemo-social-icon"></i>  
    </div>                
    </div>
    <a href="/logout" class="btn btn-default templatemo-view-img-btn margin-bottom-70">logout</a>
</div>