<table border="1">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>location</th>
      <th>events</th>
    </tr>
  </thead>

  <tbody>
        <tr>
        <td><a href="locations/{{location.id}}">{{location.id}}</a></td>
        <td><a href="locations/{{location.id}}">{{location.name}}</a></td>
        <td><a href="locations/{{location.id}}">{{location.location}}</a></td>
        <td>{{#each events}}<a href="/events/{{id}}">{{title}}</a></br>{{/each}}</td>
        </tr>
  </tbody>
</table>
