<table  class="table table-striped bs-example">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>location</th>
      <th>events</th>
    </tr>
  </thead>

  <tbody>
        <tr>
        <td>{{location.id}}</td>
        <td>{{location.name}}</td>
        <td>{{location.location}}</td>
        <td>{{#each events}}<a href="/events/{{id}}">{{title}}</a></br>{{/each}}</td>
        </tr>
  </tbody>
</table>
